<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchNombre()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listado</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let producto of productos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProducto(producto, i)"
        >
          {{ producto.nombre }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProductos()">
        <a  class="nav-link">Remove All</a>
        
      </button>
      <button class="m-3 btn btn-sm btn-warning" >
        <a routerLink="add2" class="nav-link">Agregar</a>
      </button>
    </div>
    <div class="col-md-6">
      <app-productos-deta
        [viewMode]="true"
        [currentProducto]="currentProducto"
      ></app-productos-deta>
    </div>
  </div>
  