<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchNombre()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listado de Envios (Guias - Fechas)</h4>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" sortable="name" >Guia</th>
          <th scope="col" sortable="area" >Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let envio of envios; let i = index" [class.active]="i == currentIndex"  (click)="setActiveEnvio(envio, i)" >
          <th scope="row">{{ envio.id }}</th>
          <td>{{envio.guia}}</td>
          <td>{{envio.fechaRegistro}}</td>
        </tr>
        </tbody>
      </table>


      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEnvios()">
        <a  class="nav-link">Remove All</a>
        
      </button>
      <button class="m-3 btn btn-sm btn-warning" >
        <a routerLink="add2" class="nav-link">Agregar</a>
      </button>
    </div>
    <div class="col-md-6">
      <app-envios-deta
        [viewMode]="true"
        [currentEnvio]="currentEnvio"
        [nombreCliente]="nombreCliente"
        [nombreProducto]="nombreProducto"
      ></app-envios-deta>
    </div>
  </div>
  