<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            required
            [(ngModel)]="producto.nombre"
            name="nombre"
          />
        </div>
  
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input
              class="form-control"
              id="descripcion"
              required
              [(ngModel)]="producto.descripcion"
              name="descripcion"
            />
          </div>
    
              <button (click)="saveProducto()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4> submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProducto()">Add</button>
      </div>
    </div>
  </div>
  